// colors
$color1: #292f33;
$color2: #058bff;
$color3: #58E2C8;
$color-light-gray: #fafafa;
$color-gray: #ececec;

@import "preloader.scss";

// css reset
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  color: $color1;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.25;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

h2 {
  font-size: 34px;
  font-weight: 500;
  margin: 0 0 15px;
  padding: 0;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  line-height: 1.25;
  font-weight: 300;
  margin: 0 0 20px;
  padding: 0;
}

h5 {
  font-size: 18px;
  font-weight: 600;
  padding: 0 0 15px;
}

p {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  padding: 0 0 25px;
}

a {
  font-size: 20px;
  font-weight: 300;

  &:hover {
    text-decoration: none;
    color: $color2 !important;
  }
}

ol,
ul {
  font-size: 20px;
  font-weight: 300;
}

input,
textarea,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: inline-block;
  width: 100%;
  border: 1px solid $color-gray;
  border-radius: 5px;
  background: #fff;
  height: 50px;
  padding: 0 20px;
  font-size: 16px;
  margin: 0 0 20px 0;
  resize: none;
}

textarea {
  padding: 15px 20px;
  height: 100px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 45px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  height: 80px;
  margin: auto;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo__img {
  max-width: 150px;
}

.menu {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-trigger {
  display: none;
}

.menu-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  list-style: none;
  margin: 0;

  .menu-box__item {
    padding: 10px 20px;
    .menu-box__item-anchor { 
      // padding: 10px 20px;    
      font-weight: 600;
      cursor: pointer;
      font-size: 18px;
      color: $color1;
    }
  }

  .menu-box__children-wrapper {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 10;
    max-width: 700px;
    width: 100%;
    right: 0;
    top: calc(100% - 5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border-radius: 5px;
    transform-origin: 50% -50px;
    transition: all .3s ease;    

    &:before{      
      left: 25%;
      margin-left: -18px;  
    }  
  }

  .menu-box__children-row{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    
    .menu-box__children-col{
      width: 50%;
      &:last-child{
        margin-left: 5px;
      } 
      &:first-child{
        margin-right: 5px;
      }
    }
  }

  .menu-box__dropdown {
    &:hover {
      .menu-box__children-wrapper {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  

  .menu-box__children-item {  
    margin: 15px 0;
    &:last-child, &:first-child{
      margin: 0;
    }
    .menu-box__children-item-anchor{
      display: flex;
      align-items: center;
      color: $color1;
      font-size: 18px;
    }
  }

  .menu-box__children-img {
    max-width: 80px;
    margin-right: 10px;
  }

  .menu-box__item_button {
    button {
      padding: 10px 20px;
    }
  }
}

.header__box {  
  width: auto;
  height: 50px;
  padding: 0;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
}

.lang-box{
  position: relative;
  .lang-box__button, .lang-box__list{
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    color: $color2;
  }
  .lang-box__button{

  }
  .lang-box__list-wrapper{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - 5px);
    z-index: 10;    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border-radius: 5px;
    transform-origin: 50% -50px;
    transition: all .3s ease;
    &:before{
      right: 50%;
      margin-right: -7px;
    }    
  }
  .lang-box__list{
    background-color: #fff;
    border-radius: 5px;
    li{
      padding: 5px;
      &:hover{
        opacity: .7;
      }
    }
  }
  &:hover{
    .lang-box__list-wrapper{
      opacity: 1;
      visibility: visible;
    }   
  }

}

.triangle-elem{
  &:before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    box-shadow: 0 0 10px rgba(0,0,0,.17);
    background: #fff;
    z-index: -1;
    top: -7px;
  }  
}

@media (max-width: 992px) {
  .header {
    height: 50px;
  }

  .logo__img {
    max-width: 100px;
  }

  .menu-box {
    display: none;
  }

  .menu-trigger {
    display: block;
    width: 50px;
    height: 50px;
    order: 1;

    span {
      position: absolute;
      width: 25px;
      height: 3px;
      margin: 4px 12.5px;
      background-color: $color2;
      transition: all .25s ease-out .01ms;

      &:nth-child(1) {
        top: 12px;
        backface-visibility: hidden;
      }

      &:nth-child(2) {
        top: 20px;
        opacity: 1;
      }

      &:nth-child(3) {
        top: 28px;
        backface-visibility: hidden;
      }
    }
  }
  .header__box{
    padding: 10px;
    display: flex;
    align-items: center;
  }
}

// section
.section {
  padding: 60px 0;
}

.section-top {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  h1 {
    margin-bottom: 20px;
  }

  p {
    font-size: 32px;
  }

  .btn {
    margin-top: 20px;
  }
}

.section-top-main {
  min-height: 650px;
  padding-bottom: 0;
}

.section-top-page {
  margin-top: 80px;
  min-height: 400px;
  background: #888;
  display: flex;
  align-items: center;
}

.section-top-contact {}

.section-light-gray {
  background-color: $color-light-gray;
}

.section-ui {
  background-image: linear-gradient(to right, $color2, $color3);
  color: #fff;
}

@media (max-width: 992px) {
  .section-top {
    margin-top: 80px;

    p {
      font-size: 24px;
    }
  }

}

@media (max-width: 767px) {
  .section-top {
    margin-top: 50px;
  }
}

@media (min-height: 650px) and (min-width: 992px) {
  .section-top-main {
    min-height: 100vh;
  }
}

// title
.title {
  text-align: center;
  padding-bottom: 3rem;

  .title__upper {
    font-weight: 600;
    text-transform: uppercase;
  }

  h2.title__upper {
    font-size: 32px;
  }

  h4.title__upper {
    font-size: 24px;
    text-transform: none;
  }

  .title__description {
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
}

.content-title {
  .content-title__upper {
    margin-bottom: 15px;
    font-weight: 300;
  }
}

// icon
.ico {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.ico-m {
  width: 25px;
  height: 25px;
}

.ico-l {
  width: 35px;
  height: 35px;
}

.ico-search {
  content: url(../img/ico__search.svg);
}

.ico-facebook {
  content: url(../img/ico__facebook.svg);
}

.ico-telegram {
  content: url(../img/ico__telegram.svg);
}

.ico-viber {
  content: url(../img/ico__viber.svg);
}


// button
.btn-branded {
  color: #fff;
  position: relative;
  background-color: $color2;
  border: 0;
  transition: all .5s ease-out;
}

.btn-dark {
  position: relative;
  background-color: $color1;
  border: 0;
  transition: all .5s ease-out;
}

.btn-branded,
.btn-dark {
  &:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: .25rem;
    background: rgba(255, 255, 255, 0.2);
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: .7s;
    transition-timing-function: ease-out;
  }

  &:hover {
    color: #fff;

    &:before {
      transform: scaleX(1);
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }
  }
}

.btn-large {
  font-size: 32px;
}

.btn-medium {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;
}

.btn-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// section top
.top-slider {
  .slick-list {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }

  .slick-slide {
    position: relative;
    opacity: .7;
    z-index: 0;

    img {
      padding: 20px;
      border-radius: .25rem;
    }
  }

  .slick-current.slick-active {
    position: relative;
    opacity: 1;
    z-index: 1;
    transform: scale(1.15);
    transition: 1s;

  }
}

@media (max-width: 992px) {
  .top-slider {
    margin-top: 80px;

    .slick-slide {
      img {
        padding: 1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .top-slider {
    margin-top: 50px;
  }
}

// slider
@keyframes pulseSlickButton {
  0% {
    top: 0px;
    left: 2px;
    width: 21px;
    height: 21px;
  }

  50% {
    top: -9px;
    left: -7px;
    width: 40px;
    height: 40px;
    opacity: .3;
  }

  0% {
    top: 0px;
    left: 2px;
    width: 21px;
    height: 21px;
  }
}

.sentence-slider {

  .slick-next,
  .slick-prev {
    z-index: 10;

    &:before {
      font-size: 25px;
      color: $color2;
    }

    &:after {
      content: '';
      background-color: transparent;
      animation: 1500ms ease 0s normal none 1 running pulseSlickButton;
      animation-iteration-count: infinite;
      position: absolute;
      opacity: .75;
      top: 0px;
      left: 2px;
      width: 21px;
      height: 21px;
      z-index: -1;
      border: 1px solid $color2;
      border-radius: 100%;
    }
  }

  .slick-disabled {
    &:after {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .sentence-slider {

    .slick-next {
      right: 0;
    }

    .slick-prev {
      left: 0;
    }

  }
}

@media (max-width: 480px) {
  .sentence-slider {

    .slick-next {
      right: 15px;
    }

    .slick-prev {
      left: 15px;
    }

  }
}


.box {
  border: 1px solid #eaeaea;
}

.box-sentence-wrapper {
  padding: 15px;
}

.box-sentence {
  position: relative;
  padding: 20px 15px;
  margin-bottom: 2rem;
  text-align: center;
  transition: all .3s ease;
  background-color: #fff;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 20px rgba(146, 146, 146, 0.13);
    cursor: pointer;
  }

  p,
  h3 {
    padding: 0;
    margin: 0;
  }

  .title {
    padding: 0;
    color: $color1;

    .title__description {
      padding-bottom: 10px;
    }
  }

  .title__upper {
    margin-bottom: 10px;
    min-height: 35px;
  }

  .box-sentence__images {
    margin-bottom: 15px;
  }
}

.advantages {
  .advantages__item {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;

    img {
      width: 125px;
      height: 125px;
      margin-bottom: 1rem;
    }
  }
}

.list-ui {
  list-style: square;
  margin-bottom: 2rem;

  li {
    margin-left: 20px;
  }
}

.ui-img-radius {
  border-radius: .25rem;
}

.partners-slider {
  img {
    padding: 0 3rem;
  }

  .slick-dots {
    li {
      button {
        background: #eee;
        padding: 0;
        height: 2px;
        transition: all .5s;

        &:before {
          display: none;
        }

        &:hover {
          background: $color2;
        }
      }
    }

    .slick-active {
      button {
        background: $color2;
      }
    }
  }
}

.indent-none {
  margin: 0;
  padding: 0;
}

// form
.form {
  .form__row {
    display: flex;
    justify-content: space-between;

    .form__col {
      padding: 7.5px;
      width: 50%;
    }
  }
}

// footer
.footer {
  padding-top: 60px;
  background-color: $color-light-gray;

  .footer-copyright {
    padding: 1rem 0;
    margin-top: 60px;
    background-color: #f6f6f6;
  }
}

.footer-item {
  .footer-item__title {
    padding-bottom: 0;
    color: $color2;
  }

  .footer-item__content {
    padding-right: 10%;

    p,
    a {
      font-size: 16px;
    }

    .ico {
      margin-right: 10px;
      margin-bottom: 15px;
    }

    .logo__img {
      margin-top: 10px;
    }
  }
}

.footer-copyright {
  h4 {
    margin: 0;
  }
}

.menu-list {
  margin-bottom: 20px;

  li {
    margin: 0 0 8px;
    line-height: 21px;
  }

  a {
    color: $color1;
  }
}

.contact-widget-wrapper {
  h5 {
    margin: 10px 0;
    padding: 0;
  }

  p,
  ul,
  a {
    font-size: 18px;
    padding-bottom: 10px;
  }

  a {
    display: block;
  }
}

.contact-widget-wrapper__list {
  display: flex;
  justify-content: space-between;
}

.contact-widget-wrapper__list-item {
  margin: 0;
}



.content {
  p {
    text-align: justify;
  }
}

// line
.top-line-xl {
  padding-top: 60px;
  margin-top: 60px;
  border-top: 1px solid $color-gray;
}

@media (max-width: 767px) {
  .top-line-md {
    padding-top: 60px;
    margin-top: 60px;
    border-top: 1px solid $color-gray;
  }
}


@import "media.scss";