// colors
$color1: #292f33;
$color2: #4E89FA;
$color3: #03EFFE;
$color-light-gray: #fafafa;
$color-gray: #ececec;

@import "font.scss";
@import "preloader.scss";

// css reset
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  color: $color1;
  font-family: 'Corsa Grotesk', Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.25;
}

h1 {
  font-size: 45px;
  font-weight: 700;
}

h2 {
  font-size: 34px;
  font-weight: 500;
  margin: 0 0 15px;
  padding: 0;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  line-height: 1.25;
  font-weight: 300;
  margin: 0 0 20px;
  padding: 0;
}

h5 {
  font-size: 18px;
  font-weight: 600;
  padding: 0 0 15px;
}

p {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  padding: 0 0 25px;
}

a {
  font-size: 20px;
  font-weight: 300;

  &:hover {
    text-decoration: none;
    color: $color2;
  }
}

ol,
ul {
  font-size: 20px;
  font-weight: 300;
}

input,
textarea,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: inline-block;
  width: 100%;
  border: 1px solid $color-gray;
  border-radius: 5px;
  background: #fff;
  height: 50px;
  padding: 0 20px;
  font-size: 16px;
  margin: 0 0 20px 0;
  resize: none;
}

textarea {
  padding: 15px 20px;
  height: 100px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 45px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  z-index: 1000;
  transition: all 250ms;
}

.header-scroll {
  height: 80px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo__img {
  max-width: 150px;
}

.menu {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-trigger {
  display: none;
}

.menu-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  list-style: none;
  margin: 0;

  .menu-box__item {
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
      .menu-box__item-anchor {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          left: 0;
          bottom: -2px;
          background: $color2;
        }
      }
    }

    .menu-box__item-anchor {
      display: block;
      height: 27px;
      text-transform: lowercase;
      font-weight: 600;
      font-size: 18px;
      color: $color2;
      letter-spacing: .5px;
    }
  }

  .menu-box__children-wrapper {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 10;
    max-width: 300px;
    width: 100%;
    top: calc(100% - 0px);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
    transform-origin: 50% -50px;
    transition: all .3s ease;
  }

  .menu-box__children-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;

    .menu-box__children-col {
      width: 50%;

      &:last-child {
        margin-left: 5px;
      }

      &:first-child {
        margin-right: 5px;
      }
    }
  }

  .menu-box__dropdown {
    &:hover {
      .menu-box__children-wrapper {
        opacity: 1;
        visibility: visible;
      }
    }
  }



  .menu-box__children-item {
    margin-bottom: 10px;

    &:last-child {
      margin: 0;
    }

    .menu-box__children-item-anchor {
      display: flex;
      align-items: center;
      color: $color1;
      font-size: 18px;
      text-transform: lowercase;
      letter-spacing: .5px;

      &:hover {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          left: 0;
          bottom: -2px;
          background: #000;
        }
      }
    }
  }

  .menu-box__children-img {
    max-width: 60px;
    margin-right: 10px;
    display: none;
  }

  .menu-box__item_button {
    button {
      padding: 10px 20px;
    }
  }
}

.header__box {
  width: auto;
  height: 50px;
  padding: 0;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
}

.lang-box {
  position: relative;

  .lang-box__button,
  .lang-box__list {
    text-transform: lowercase;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    color: $color2;
  }

  .lang-box__list-wrapper {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - 5px);
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    transform-origin: 50% -50px;
    transition: all .3s ease;

    &:before {
      right: 50%;
      margin-right: -7px;
    }
  }

  .lang-box__list {
    background-color: #fff;
    border-radius: 5px;

    li {
      padding: 5px;

      &:hover {
        opacity: .7;
      }
    }
  }

  &:hover {
    .lang-box__list-wrapper {
      opacity: 1;
      visibility: visible;
    }
  }

}


@media (max-width: 992px) {
  .header {
    height: 50px;

    .col-6 {
      padding: 0;
    }

    .logo {
      padding-left: 10px;
    }
  }

  .logo__img {
    max-width: 100px;
  }

  .menu-box {
    top: 0;
    flex-direction: column;
    position: fixed;
    left: -100%;
    margin-top: 50px;
    background: #fff;
    right: auto;
    height: auto;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .05);
    transition: all 250ms;
  }

  .menu-box-open {
    left: 0;
    right: 0;
  }

  .menu-box__children-wrapper {
    display: none;
  }

  .menu-trigger {
    display: block;
    width: 50px;
    height: 50px;
    order: 1;

    span {
      position: absolute;
      width: 25px;
      height: 3px;
      margin: 4px 12.5px;
      background-color: $color2;
      transition: all .25s ease-out .01ms;

      &:nth-child(1) {
        top: 12px;
        backface-visibility: hidden;
      }

      &:nth-child(2) {
        top: 20px;
        opacity: 1;
      }

      &:nth-child(3) {
        top: 28px;
        backface-visibility: hidden;
      }
    }
  }

  .menu-trigger-open {
    span {

      &:nth-child(1) {
        transform: rotate(45deg) translate3d(6px, 5px, 0);
      }

      &:nth-child(2) {
        display: none;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate3d(6px, -5px, 0);
      }
    }

  }

  .header__box {
    padding: 10px;
    display: flex;
    align-items: center;
  }
}

.search-box{
  position: relative;
}

.search-wrapper {
  display: none;
  position: absolute;  
  max-height: 50px;
  min-width: 200px;
  right: 0;
  top: calc(100% - 0px);
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.05);

  .input-search {
    margin: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .button-search {
    background-color: #fff;
    border: 1px solid $color2;
    padding: 10px;
    margin: 0;
    position: relative;
    &:hover{      
      &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba($color2, 0.1);
      }
    }
  }
}
.search-wrapper-open{
  display: flex;
}
@media (max-width: 992px){
  .search-wrapper{
    position: fixed;
    top: 50px;
    left: 0;
    max-width: 720px;
    margin: 0 auto;
  }
}



// section
.section {
  padding: 60px 0;
}

.section-top {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 100px;

  h1 {
    margin-bottom: 20px;
    font-family: 'Futura PT Bold';
    color: $color2;
    text-transform: uppercase;

    span {
      white-space: nowrap;
    }
  }
}

.section-top-main {
  min-height: 650px;
  padding: 0;
  background: url(../img/main-bg.jpg) center no-repeat;
  background-size: cover;

  p {
    font-size: 24px;
  }

  .btn {
    margin-top: 50px;
  }
}

.section-top-page {
  padding-bottom: 0;
  background: $color2;
  display: flex;
  align-items: center;
  padding: 30px 0;

  h1 {
    color: #fff;
    margin: 0;
  }
}

.section-light-gray {
  background-color: $color-light-gray;
}

.section-ui {
  // background-image: linear-gradient(to right, $color2, $color3);
  background-color: $color2;
  color: #fff;

  .title {
    color: #fff;
  }
}

@media (max-width: 992px) {
  .section-top {
    margin-top: 50px;

    p {
      font-size: 24px;
    }
  }

  .section-content {
    img {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 767px) {
  .section-top-main {
    margin-top: 0;
  }
}


// title
.title {
  text-align: left;
  padding-bottom: 3rem;

  .title__upper {
    font-weight: 600;
    text-transform: uppercase;
  }

  h2.title__upper {
    font-size: 32px;
  }

  h4.title__upper {
    font-size: 24px;
    text-transform: none;
  }

  .title__description {
    font-size: 18px;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .title {
    h2.title__upper {
      font-size: 27px;
    }

    h4.title__upper {
      font-size: 21px;
    }
  }
}

.content-title {
  .content-title__upper {
    margin-bottom: 15px;
    font-weight: 300;
  }
}

// icon
.ico {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.ico-m {
  width: 25px;
  height: 25px;
}

.ico-l {
  width: 35px;
  height: 35px;
}

.ico-search {
  content: url(../img/ico__search.svg);
}

.ico-close{
  content: url(../img/ico__close.svg);
}

.ico-facebook-white {
  content: url(../img/ico__facebook-white.svg);
}

.ico-telegram-white {
  content: url(../img/ico__telegram-white.svg);
}

.ico-viber-white {
  content: url(../img/ico__viber-white.svg);
}


// button
.btn-branded {
  color: #fff;
  position: relative;
  background-color: $color2;
  border: 0;
  transition: all .5s ease-out;
  font-family: 'Futura PT Bold';
}

.btn-dark {
  position: relative;
  background-color: $color1;
  border: 0;
  transition: all .5s ease-out;
}


.btn-branded,
.btn-dark {
  &:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background: rgba(255, 255, 255, 0.2);
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: .7s;
    transition-timing-function: ease-out;
  }

  &:hover {
    color: #fff;

    &:before {
      transform: scaleX(1);
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }
  }
}

.btn-white {
  background-color: #fff;
  color: $color2;

  &:before {
    background: rgba($color2, 0.1);
  }

  &:hover {
    color: $color2;
  }
}

.btn-large {
  font-size: 20px;
  font-weight: 700;
  padding: 15px 25px;
  text-transform: uppercase;
  border-radius: 50px;
}

.btn-medium {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 25px;
}

.btn-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// section top
.top-slider {
  .slick-list {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }

  .slick-slide {
    position: relative;
    opacity: .7;
    z-index: 0;

    img {
      padding: 20px;
      border-radius: .25rem;
    }
  }

  .slick-current.slick-active {
    position: relative;
    opacity: 1;
    z-index: 1;
    transform: scale(1.15);
    transition: 1s;

  }
}

@media (max-width: 992px) {
  .top-slider {
    margin-top: 80px;

    .slick-slide {
      img {
        padding: 1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .top-slider {
    margin-top: 50px;
  }
}

// slider
@keyframes pulseSlickButton {
  0% {
    top: 0px;
    left: 2px;
    width: 21px;
    height: 21px;
  }

  50% {
    top: -9px;
    left: -7px;
    width: 40px;
    height: 40px;
    opacity: .3;
  }

  0% {
    top: 0px;
    left: 2px;
    width: 21px;
    height: 21px;
  }
}

.sentence-slider {

  .slick-next,
  .slick-prev {
    z-index: 10;

    &:before {
      content: '';
      position: absolute;
      height: 40px;
      width: 20px;
      left: 0;
      top: 0;
    }
  }

  .slick-next {
    &:before {
      background-image: url(../img/slick-next-white.svg);
    }
  }

  .slick-prev {
    &:before {
      background-image: url(../img/slick-prev-white.svg);
    }
  }

  .slick-disabled {
    &:after {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .sentence-slider {

    .slick-next {
      right: 0;
    }

    .slick-prev {
      left: 0;
    }

  }
}

.box {
  border: 1px solid #eaeaea;
}

.box-sentence-wrapper {
  padding: 15px;
}

.box-sentence {
  position: relative;
  margin-bottom: 2rem;
  text-align: center;
  transition: all .3s ease;
  padding: 0 30px;

  &:hover {
    cursor: pointer;
  }

  p,
  h3 {
    padding: 0;
    margin: 0;
  }

  .box-sentence__title {
    padding: 0;
    text-align: left;
    min-height: 130px;
    color: #fff;

    .title__description {
      padding-bottom: 10px;
    }

    .title__upper {
      margin-bottom: 10px;
      min-height: 35px;
      text-transform: none;
    }
  }

  .box-sentence__wrapper-images {
    background: #fff;
    margin-bottom: 30px;
  }

  .box-sentence__images {
    position: relative;
  }
}

.sentence-slider {
  .slick-slide:nth-child(1) {
    .box-sentence__images {
      bottom: -5px;
      margin-right: -30px;
    }
  }

  .slick-slide:nth-child(2) {
    .box-sentence__images {
      bottom: -15px;
      margin-right: -30px;
    }
  }

  .slick-slide:nth-child(3) {
    .box-sentence__images {
      bottom: -1px;
      margin-left: -30px;
    }
  }

  .slick-slide:nth-child(4) {
    .box-sentence__images {
      bottom: -5px;
      margin-right: -30px;
    }
  }

  .slick-slide:nth-child(5) {
    .box-sentence__images {
      bottom: -1px;
      margin-left: -30px;
    }
  }
}

.advantages {
  .advantages__item {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;

    img {
      width: 80px;
      height: 80px;
      margin-bottom: 1rem;
    }
  }
}

.list-ui {
  list-style: square;
  margin-bottom: 2rem;

  li {
    margin-left: 20px;
  }
}

.ui-img-radius {
  border-radius: .25rem;
}

.partners-slider {
  img {
    padding: 0 3rem;
  }

  .slick-dots {
    li {
      button {
        background: #eee;
        padding: 0;
        height: 2px;
        transition: all .5s;

        &:before {
          display: none;
        }

        &:hover {
          background: $color2;
        }
      }
    }

    .slick-active {
      button {
        background: $color2;
      }
    }
  }
}

.indent-none {
  margin: 0;
  padding: 0;
}

// form
.form {
  .form__row {
    display: flex;
    justify-content: space-between;

    .form__col {
      padding: 7.5px;
      width: 50%;
    }
  }
}

// footer
.footer {
  padding-top: 60px;
  background-color: $color2;
  color: #fff;

  a {
    &:hover {
      color: #fff;
      opacity: .7;
    }
  }

  .footer-copyright {
    padding: 1rem 0;
    margin-top: 60px;
    border-top: 1px solid #f6f6f6;
  }
}

.footer-item {
  .footer-item__title {
    padding-bottom: 0;
  }

  .footer-item__content {

    p,
    a {
      font-size: 16px;
      color: #fff;
    }

    .ico {
      margin-right: 10px;
      margin-bottom: 15px;
    }

    .logo__img {
      margin-top: 10px;
    }
  }
}

.footer-copyright {
  h4 {
    margin: 0;
  }
}

.menu-list {
  margin-bottom: 20px;

  li {
    margin: 0 0 8px;
    line-height: 21px;
  }

  a {
    color: $color1;
  }
}

.contact-widget-wrapper {
  h5 {
    margin: 10px 0;
    padding: 0;
  }

  p,
  ul,
  a {
    font-size: 18px;
    padding-bottom: 10px;
  }

  a {
    display: block;
  }
}

.contact-widget-wrapper__list {
  display: flex;
  justify-content: space-between;
}

.contact-widget-wrapper__list-item {
  margin: 0;
}



.content {
  p {
    text-align: justify;
  }
}

// line
.top-line-xl {
  padding-top: 60px;
  margin-top: 60px;
  border-top: 1px solid $color-gray;
}

@media (max-width: 767px) {
  .top-line-md {
    padding-top: 60px;
    margin-top: 60px;
    border-top: 1px solid $color-gray;
  }
}

.team-box {
  text-align: center;
  margin-bottom: 60px;
}

.team-box__img {
  display: inline-block;
  height: 175px;
  width: 175px;
  border-radius: 50%;
  background-size: cover;
  margin-bottom: 20px;
}

.team-box__description {
  h4 {
    margin-bottom: 10px;
  }

  span {
    display: block;
  }
}


.router-block {
  .block-list {
    display: flex;
    margin-bottom: 60px;
    justify-content: center;
  }

  .block7-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
    position: relative;
    padding-left: 30px;
  }


  .img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: rgba(8, 107, 255, .12);
    margin-bottom: 30px;
  }

  .name {
    padding: 0;
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 26px;
    color: $color2;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .desc,
  .link-btn {
    padding: 0;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #333;
    max-width: 226px;
  }

  .desc {
    a {
      font-size: 16px;
      display: block;
    }
  }

  .desc_blue {
    font-size: 13px;
    line-height: 110%;
    letter-spacing: 0;
    color: $color2;
    text-align: center;
    max-width: 138px;
    opacity: .64;
    margin-top: 10px;
  }

  .link-btn {
    background: none;
    display: inline;
    text-transform: none;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    letter-spacing: 0;
    color: $color2;
    text-decoration: underline;
  }
}

@media (min-width: 992px) {
  .router-block {
    .block7-item {

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 0;

        &:before {
          display: none;
        }
      }

      &:before {
        content: "";
        position: absolute;
        right: -55px;
        width: 105px;
        height: 11px;
        top: calc(27% - 10.5px);
        background: url(../img/line.svg) no-repeat;
        background-size: contain;
        background-position: 50%;
      }
    }
  }

}

@media (max-width: 992px) {
  .router-block {
    .block-list {
      flex-direction: column;
    }

    .block7-item {
      padding-bottom: 30px;
    }
  }
}

.box-sentence-price-wrapper {
  margin-bottom: 2vw;

  .box-sentence {
    padding: 0;
    margin: 0;

    .box-sentence__title {
      min-height: 60px;
      color: $color1;
    }

    .box-sentence__price {
      padding: 20px 0;
      display: flex;
      justify-content: space-evenly;
      color: $color1;
    }
  }
}

@media (min-width: 992px) {
  .services-main-img {
    margin-top: -100px;
  }
}

.drawing-img {
  img {
    display: block;
    max-height: 600px;
    margin: 0 auto;
  }
}


@import "media.scss";