$preloader-size: 200px;

// calls both types of keyframes
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
}

// rotates by $deg amount
@mixin rotate($deg) {
  -webkit-transform: rotate($deg); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: rotate($deg); /* IE 9 */
  transform: rotate($deg); /* Firefox 16+, IE 10+, Opera */
}

// runs an animation infinitely
@mixin animation($animation, $duration, $timing) {
  -webkit-animation: $animation $duration $timing infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: $animation $duration $timing infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

.pre-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.pre-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

#preloader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #fff;
  z-index: 2000;
}

.ring-border {
  border-radius: 50%;
  border: 2px solid transparent;
}

#preloader {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  width: $preloader-size;
  height: $preloader-size;
  margin-top: -($preloader-size/2);
  margin-left: -($preloader-size/2);

  @extend .ring-border;
  border-top-color: $color1;

  @include animation(spin, 2s, linear);
}

#preloader:before {
  $distance: 20px;
  content: "";
  position: absolute;
  top: $distance;
  left: $distance;
  right: $distance;
  bottom: $distance;

  @extend .ring-border;
  border-top-color: $color2;

  @include animation(spin-reverse, 0.7s, linear);
}

#preloader:after {
  $distance: 30px;
  content: "";
  position: absolute;
  top: $distance;
  left: $distance;
  right: $distance;
  bottom: $distance;

  @extend .ring-border;
  border-top-color: $color3;

  @include animation(spin, 1.7s, linear);
}

@include keyframes(spin) {
  0% {
    @include rotate(0deg);
  }
  100% {
    @include rotate(360deg);
  }
}

@include keyframes(spin-reverse) {
  0% {
    @include rotate(0deg);
  }
  100% {
    @include rotate(-360deg);
  }
}

